.scroll-list-container {
  position: relative;
  width: 100%;
}

.scroll-list {
  max-height: 76vh;
  overflow-y: auto;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #ffffff; /* White */
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #dddddd8c; /* Light Grey */
  border-radius: 4px;
}

.scroll-list::-webkit-scrollbar-thumb:hover {
  background: #cccccc; /* Light Grey */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, white, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, white, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
